[Desktop Entry]
Type=Application
Version=1.0
Icon=dialog-password
Name=Password Changer
Name[tr]=Parola değiştirme uygulaması
Comment=Change your password with ease
Comment[tr]=Parolanızı değiştirin
Exec=password_changer
Terminal=false
Categories=Settings;System;Utility
