[Desktop Entry]
Type=Application
Version=1.0
Icon=dialog-password
Name=Simple Password Changer
Name[tr]=Parola değiştirme uygulaması
Comment=Change your password with ease
Comment[tr]=Parolanızı değiştirin
Exec=simple-password-changer
Terminal=false
Categories=Settings;System;Utility
